/*................................................. resrt css */
*{
  margin: 0;
  padding: 0;
  /* thuộc tính có tác động làm cho nôi dung tự co dãn */
  box-sizing: border-box; 
}
body{
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  z-index: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #101010, #1d0030);
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#particles-js{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}

/*.................................................Header css */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid black;
} 
.logo{
  font-size: 40px;
  font-weight: bold;
  background: linear-gradient(to right, #9932CC, #FF69B4);
  /* muốn cái màu cho chữ */
  background-clip: text;
  color: transparent;
}
nav ul{
  display: flex;
  gap: 25px;
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  color: white;
}
.button{
  background-color: rgb(131, 131, 254);
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
}

.bars{
  display: none;
}
/*.................................................Main css */
main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content h1{
  background: linear-gradient(to right, #9932CC, #FF69B4);
  background-clip: text;
  color: transparent;
  font-size: 65px;
}
.content h1 span{
  color: white;
}

/* .content p:first-of-type{
  color: red;
} */

/* .container p:nth-child(3){
  color: white;
} */

.content p:nth-of-type(1){
  color: rgb(200, 182, 226);
  font-size: 30px;
}

.content p:nth-of-type(2){
  color: rgb(168, 167, 168);
  font-size: 25px;
}
.readmore{
  /* background-color: transparent; trong suốt */
  background: transparent;
  border: 2px solid rgb(131, 131, 254); 
  position: relative;
  z-index: 1;
  /* ko cho bị tràn ra ngoài(dùng absolute kên) */
  overflow: hidden;

}
.start{
  transition: all 0.15s ease;
  
}

.start:hover{
  /* transform: ; có rất nhiều thuộc tính*/
  transform:translateY(-3px);
 
}
.readmore:hover{
  box-shadow:  -1px 9px 12px 0 rgb(131, 131, 254,0.6); 
}

/* pseudo*/
.readmore::before{
  content: "";
  position: absolute;
  background: rgb(131, 131, 254);
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  /* border-radius: 50px; */
  transition: all 0.3s ease;
  z-index: -1;
}

.readmore:hover::before{
  width: 100%;
}

.content-skills{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

}

.content-design-coding{
  display: flex;
  gap: 20px;
}
.Design,
.Coding{
  flex: 1;
}

.Design,
.Coding,
.content-community{
  background-color: rgba(255, 255, 255, 0.05); 
  border: 1px solid rgb(52, 52, 52);
  border-radius: 20px;
  padding: 25px 70px 25px 25px;
  cursor: pointer;
}


.content-skills .Design i,
.content-skills .Coding i,
.content-skills .content-community i{
  font-size: 20px;
  border:1px solid none;
  border-radius: 50%;
  background-color: rgba(153, 50, 204, 0.1);
  color: #9932CC;
  padding: 15px;
  transition: all 0.75s ease;
  margin-bottom: 10px;
}
.Design:hover,
.Coding:hover,
.content-community:hover{ 
  box-shadow: 0 4px 30px rgba(192, 3, 250, 0.8);
  
}
/* quan trọng ở đây, cách tròng 2 lớp, trỏ từ lớp cha rồi tới lớp con. lớp con ko cần hover */
.content-skills .Design:hover i,
.content-skills .Coding:hover i,
.content-skills .content-community:hover i{
  transform: scale(1.3) rotate(1turn);
  color: white;
  background-color: rgb(197, 80, 255); 
  
}
.content-skills h3{
  color: white;
  font-size: 25px;
}

.content-skills .Design p{
  width: 161px;
}
.content-skills .Design p,
.content-skills .Coding p,
.content-skills .content-community p{
  font-size: 15px;
  margin-top: 10px;
  color: rgb(168, 167, 168);
}

main .image_container img{
  width: 550px;
  transition:all 0.15s ease ;
}
main .image_container img:hover{
  transform: translateY(-5px);
  filter: drop-shadow(10px 5px 10px rgba(192, 3, 250, 0.8));
}

/*================================================================= Footer CSS */

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  font-size: 25px;
}
 hr{
  border: 1px solid rgb(62, 62, 62,0.3);
  margin-bottom: 50px;
}
footer nav ul {
  display:flex;
  gap: 30px;
}
footer nav ul li i{
  color: white;
  padding: 22px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
  cursor: pointer;
  text-decoration: underline;
  transition: all 0.15s ease;
}

footer nav ul li i:hover{
  transform: translateY(-5px);
  background-color: rgb(197, 80, 255);
}

footer p{
  color: white;
}

/* @media only screen and (max-width: 900px){
  main{
    display: none;
  }
} */

@media (max-width:900px){
  .container header nav,
  .container header .button{
    display: none;
  }

  .bars{
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: #6f07b4;
  }

  main{
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .content{
    justify-content: center;
    align-items: center;
  }
}
@media (max-width:510px){
  .content h1{
    font-size: 45px;
    white-space: nowrap;
  }
}

@media (max-width:580px){
  .content-skills .content-design-coding{
    flex-direction: column;
  }
}




